<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <form action="/add" method="post">
      <label for="title">Title:</label><br />
      <input type="text" id="title" name="title" value="" /><br />
      <label for="date">Date:</label><br />
      <input type="text" id="date" name="date" value="" /><br />
      <label for="status">Status:</label><br />
      <input type="text" id="status" name="status" value="" /><br />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </head>
  <body></body>
</html>
